<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" sortOrder="1000" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<group id="ivy" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Ivy Payment</label>
				<field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="storename" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Storename</label>
					<validate>required-entry</validate>
					<depends>
                        <field id="active">1</field>
                    </depends>
				</field>
				<field id="sandbox" type="select" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Activate Sand Box</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
                        <field id="active">1</field>
                    </depends>
				</field>
				<field id="sandbox_api_key" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Sandbox Ivy API Key</label>
					<validate>required-entry</validate>
					<depends>
                        <field id="active">1</field>
						<field id="sandbox">1</field>
                    </depends>
				</field>
				<field id="sandbox_webhook_secret" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Sandbox webhook signing secret</label>
					<validate>required-entry</validate>
					<depends>
                        <field id="active">1</field>
						<field id="sandbox">1</field>
                    </depends>
				</field>
				<field id="live_api_key" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Ivy API Key</label>
					<validate>required-entry</validate>
					<depends>
                        <field id="active">1</field>
						<field id="sandbox">0</field>
                    </depends>
				</field>
				<field id="webhook_secret" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Webhook signing secret</label>
					<validate>required-entry</validate>
					<depends>
                        <field id="active">1</field>
						<field id="sandbox">0</field>
                    </depends>
				</field>
				<field id="sort_order" type="text" sortOrder="80" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Sort Order</label>
				</field>
				<group id="frontend_settings" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="80">
					<label>Frontend Settings</label>
					<fieldset_css>config-advanced</fieldset_css>
					<depends>
                        <field id="active">1</field>
                    </depends>
					<field id="product_theme" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<label>Light theme on Catalog Product Page</label>
						<comment>Select No for dark theme</comment>
                	</field>
					<field id="minicart_theme" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<label>Light theme on Mini Cart</label>
						<comment>Select No for dark theme</comment>
                	</field>
					<field id="cart_theme" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<label>Light theme on Cart Page</label>
						<comment>Select No for dark theme</comment>
                	</field>
					<field id="product_button" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
						<label>Show button on product page</label>
                	</field>
                </group>
			</group>
		</section>
	</system>
</config>
